<!DOCTYPE html>
<html>
<head>
	<title>Chatter in real-time</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<h1>Bienvenue sur le chat app ejs</h1>


	   <script src="/socket.io/socket.io.js"></script>

	<script>
		
        const socket = io.connect('http://localhost:5555');


		socket.on('message', (data) => {
			console.log(data);
			socket.emit('another event', {jeremy: 'I am great thank you'});
		})
	</script>

</body>
</html>