<!DOCTYPE html>
<html lang="fr-FR">
<head>
	 <title>{% block title %}Real-time Chatter{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block head %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/styles/chat.css">
	 {% endblock %}
</head>
<body>
   <div class="container">
            <div class="row chat-interface">
                <div class="col-lg-4 col-xs-4 ">
                    <ul class="list-group">
                        <li class="list-group-item {%  if rm =='home' %}active{% endif %}">
                        	<a href="/" class="{%  if rm =='home' %}text-white{% endif %}" >Accueil</a>
                        </li>
                        <li class="list-group-item {%  if rm =='css' %}active{% endif %}">
                        	<a href="/css" class="{%  if rm =='css' %}text-white{% endif %}" >CSS</a>
                        </li>
                        <li class="list-group-item {%  if rm =='html' %}active{% endif %}">
                        	<a href="/html" class="{%  if rm =='html' %}text-white{% endif %}" >HTML</a>
                        </li>
                        <li class="list-group-item {%  if rm =='javascript' %}active{% endif %}">
                        	<a href="javascript" class="{%  if rm =='javascript' %}text-white{% endif %}">Javascript</a>
                        </li>
                    </ul>
                </div>
                {% block content %}{% endblock %}

            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


	<script>

		
        

        let links = document.querySelectorAll('.list-group-item a');
        
        function addEventLink() {
        	
        	for(let item of links) {
        		item.addEventListener('click', () => {
        			
        			const active = document.querySelectorAll('li.active')
        			active[0].classList.remove('active');
        			active[0].lastChild.classList.remove('text-white');        			
        			item.classList.toggle('text-white');
        			item.parentNode.classList.toggle('active');
        			room = item.innerHTML.toLowerCase();
        			console.log(room, item );
        			socket.emit('join', { room: room });
        		
        		})
        	}
        }

        addEventLink();


	</script>

</body>
</html>